
    <!-- Portfolio Grid Section -->
    <section class="danger">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h2>Shortcode Add-On</h2>
                    <hr class="star-light">
                    <p>Coming Soon...</p>
                </div>
                <div class="col-md-4 text-center">
                    <h2>Special Templates</h2>
                    <hr class="star-light">
                    <p>Coming Soon...</p>
                </div>
                <div class="col-md-4 text-center">
                    <h2>Recomended Plugin</h2>
                    <hr class="star-light">
                    <p>Coming Soon...</p>
                </div>
            </div>
        </div>
    </section>
