
    <!-- Portfolio Grid Section -->
    <section class="danger">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2>Shortcode Add-On</h2>
                    <hr class="star-light">
                    <p><img class="img-responsive" src="img/add-on.png" /></p>
                </div>
                <div class="col-md-6 text-center">
                    <h3>How it works.</h3>
                    <ul style="text-align: left;">
                        <li>Create a template with custom variables like `{$title}`.</li>
                        <li>Select a template and insert to the post or page.</li>
                        <li>Edit the shortcode like `[template id="xxxx" title="Hello"]`.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
