
    <!-- Portfolio Grid Section -->
    <section class="light-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2>Fully unit-tested</h2>
                    <hr class="star-primary">
                    <p><a href="https://travis-ci.org/miya0001/tinymce-templates"><img class="img-responsive" src="https://travis-ci.org/miya0001/tinymce-templates.svg?branch=master" /></a></p>
                    <p>TinyMCE Templates is fully unit-tested. The plugin is stable and ready to be used in large projects like enterprise applications.</p>
                    <p><a href="https://travis-ci.org/miya0001/tinymce-templates">Travis CI - Free Hosted Continuous Integration Platform for the Open Source Community</a></p>
                </div>
                <div class="col-md-6 text-center">
                    <p><img class="img-responsive" src="img/phpunit.png" /></p>
                </div>
            </div>
        </div>
    </section>
