
    <!-- Portfolio Grid Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <p><img class="img-responsive" src="img/step1.png" /></p>
                </div>
                <div class="col-md-6 text-center">
                    <h2>Create a template</h2>
                    <hr class="star-primary">
                    <p>You can create a template like Posts or so.</p>
                    <p><img class="img-responsive" src="img/step1-1.png" /></p>
                    <p>And you can insert a template as shortcode like following.<br /><pre><code>[template id="xxxx"]</code></pre></p>
                </div>
            </div>
        </div>
    </section>
