 <!-- About Section -->
    <section class="light-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2>Click and Open Templates list</h2>
                    <hr class="star-primary">
                    <p>Please click a "Insert Template" then you will see pop-up.</p>
                </div>
                <div class="col-md-6 text-center">
                    <p><img class="img-responsive" src="img/step2.png" /></p>
                </div>
            </div>
        </div>
    </section>
