
    <!-- Portfolio Grid Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <p><img class="img-responsive" src="img/step3.png" /></p>
                </div>
                <div class="col-md-6 text-center">
                    <h2>Insert a Template</h2>
                    <hr class="star-primary">
                    <p>Select a template and click OK to insert template.</p>
                    <p>If you would check a "Insert as Shortcode." it will insert a shortcode in the visual editor, so you can update in a lump.</p>
                </div>
            </div>
        </div>
    </section>
